.clock{
    font-size: 11px;
    margin-left: 31em;
    margin-bottom: 1%;
    text-align: center;
}
.header{
    display: flex;
   flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;

}
.slogan {
    color: darkslategray;
    font-size: 12px;
    font-family: "Times New Roman";
    margin-left: 2%;
    margin-top: -10px;
}
input[type=text] {
    position: absolute;
    right: 22%;
    top: 4%;
    height: 6%;
    width: 17%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

hr{
    position: inherit;
    height: auto;
    width: 90%;
}
.new button{
    width:9%;
    height: 5%;
    color: white;
    background-color: #8b201f;
    border: none;
    margin-left: 82%;
    position:absolute;
    left:-1%;

    top:33px;
}
.new button:hover{
    color: gray;
    background-color: #8b201f;
    border: none;
    margin-left: 82%;
}
.navbar {
    overflow: hidden;

}

.body-content{
    margin-left: 10%  ;
    margin-right: 10%;
}
.body-content hr{
    margin-top: -1%;
    display: block;
    position: inherit;
    height: auto;
    width: 90%;
    border: 2px solid darkred;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #8b201f;
    color: white;
}

.subnav-content {
    margin-left :14%;
    display: none;
    position: absolute;
    left: 0;
    background-color: none;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: #8b201f;
}

.subnav:hover .subnav-content {
    display: block;
}
.flex-container {
    display: flex;
    width: 100%;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.link{
     font-family: "Times New Roman";
     color: black;
     text-decoration: none;
 }

.link:hover{
    color:#8b201f;
}

.flex-container .box{
    display: flex;
    flex-wrap: wrap;
}

.flex-container .box > div{
    border: none;
    width: 27%;
    height: 6em;
    margin: 6px;
    line-height: 42%;
    overflow: hidden;
    border-radius: 2px;
}
.link-sub{
    font-family: "Times New Roman";
    font-size: 17px;
    color: black;
    text-decoration: none;

}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}



