.header{
    display:  flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    height: 8em;

}
.title{
    color: #568ea6;
    font-size: 20px;
    padding-top: 6em;

}
.header > button {
    position: absolute;
    left: 82%;
    top: 10%;
    height: 4em;
   width: 8%;
 border: 1px solid ;
    border-radius: 2px;
    background-color: #316e89;
}
.header > button:hover {
color: white;
    background-color: #272942;
}

.main-body{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.main-body .info {
 display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}

.main-body .info > div {
    width: 25%;
    margin: 3px;
}

* {
    box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
    margin-left: 5%;
    margin-right: 5%;
}
/* Ẩn các slider */
.mySlides {
    display: none;
}
/* Định dạng nội dung Caption */


/* định dạng các chấm chuyển đổi các slide */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
    background-color: #717171;
}

/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.text-title{
    color: #316e89;
    font-family: "Times New Roman";
    font-size: 25px;

}

.main-body .sign{
font-family: "Times New Roman";
    font-size: 25px;
}
.input-show{
    margin: 4px;
    border: 1px solid gray;
    width: 100%;
    height: 3em;
    border-radius: 2px;

}
.input-show{
    margin: 4px;
    border: 1px solid gray;
    width: 100%;
    height: 3em;
    border-radius: 2px;


}

.signup-button{
    border: 1px none;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 4rem;
    background-color: #a7100d;

}
.signup-button:hover{
    background-color: #0c5460;

}
.link{
    color: #063581;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline #063581 ;
}






